<!doctype html>
<html lang="en">
    <head>
        <title>Homer - Home Control</title>

        <!-- Include Jquery and Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TODO
        <script src='/static/spectrum.js'></script>
        <link rel='stylesheet' href='/static/spectrum.css' />
        <script src='/static/tinycolor.js'></script>
        <script src='/static/scripts.js'></script>
        -->
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <a class="btn btn-default navbar-btn" href="/">Home</a>
                <a class="btn btn-default navbar-btn" href="/set-state">Set State</a>
                <a class="btn btn-default navbar-btn" href="/hue">HUE Status</a>
                <a class="btn btn-default navbar-btn" href="/switch">Switch</a>
                <a class="btn btn-default navbar-btn" href="/sonos">Sonos</a>
                <a class="btn btn-default navbar-btn" href="/log">Log</a>
            </div>
        </nav>
        <div class="container">
            <h1>Homer - nsg's Home Automation API/System</h1>
            <h2>Welcome</h2>
            <p>
                There are at the moment three ways to control the system,
                voice commands, physical buttons and finally this web page.
                This page will guide you thought how to use the system.
            </p>
        </div>
    </body>
</html>
